@font-face {
  font-family: myFont;
  src: url('./fonts/Poppins-Regular.otf');
}

* {
  margin: 0;
  font-family: myFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formContainer {
  max-width: 500px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Center the container */
  padding: 20px;
  /* Add padding for spacing */
}

#taskForm {
  width: 100%;
  /* Full width within the container */
}

.card {
  max-width: 300px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Center the container */
  padding: 20px;
}

.custom-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*date picker design*/
