@font-face {
  font-family: myFont;
  src: url("./fonts/ProductSans-Regular.ttf");
}

* {
  margin: 0;
  font-family: myFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.formContainer {
  max-width: 500px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Center the container */
  padding: 20px;
  /* Add padding for spacing */
}

#taskForm {
  width: 100%;
  /* Full width within the container */
}

.card {
  max-width: 300px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Center the container */
  padding: 20px;
}

.custom-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*scrollable description*/
#cardDescription {
  height: 200px;
  overflow-y: scroll;
}

.section {
  /* background-color: aqua; */
  padding-top: 130px;
  padding-bottom: 100px;
}

.flexItem {
  padding-left: 20px;
}

/*toggler icon color*/
/* Custom CSS */
.navbar-toggler .btn-secondary {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #6c757d;
  /* Change to desired color */
  margin-bottom: 3px;
}
